<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pick-A-Meal</title>
    <link rel="icon" type="image/ico" href="/images/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/range.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
</head>

<body>
    <nav>
        <div id="navbar" class="ui fixed stackable inverted menu bg-custom-dark-blue">
            <div class="ui container ">
                <div class="header item centered aligned" id="logo">
                    <a href="/">Pick-A-Meal</a>
                    <button class="mobile-only hamburger hamburger--squeeze" type="button" id="expand-menu-button">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
                <div class="right menu collapsable collapsed" id="">
                    <% if(!currentUser){ %>
                    <div class="item" onclick="location.href='/login';">
                        <a href="/login">Login</a>
                    </div>
                    <div class="item" onclick="location.href='/register';">
                        <a href="/register">Signup</a>
                    </div>
                    <% } else { %>
                    <div class="item" onclick="location.href='/recipes';">
                        <a class="" href="/recipes">All Recipes</a>
                    </div>
                    <div class="item" onclick="location.href='/recipes/new';">
                        <a href="/recipes/new">Add
                            <!-- <i class="plus square icon"></i> -->
                        </a>
                    </div>
                    <div class="item" onclick="location.href='/logout';">
                        <a href="/logout">Logout</a>
                    </div>
                    <% }%>
                </div>
            </div>
        </div>
    </nav>
    <main class="ui container">
        <div class="ui container feedback">
            <% if(error && error.length > 0) {%>
            <div class="ui negative message">
                <div class="header">
                    <%=error%>
                </div>
            </div>
            <% } %>
            <% if(success && success.length > 0) { %>
            <div class="ui positive message">
                <div class="header">
                    <%=success%>
                </div>
            </div>
            <% } %>
        </div>