<%include partials/header%>

<h1 id="page-title" class="ui center huge header">This Week's Meals</h1>
<div class="ui container info-bar four column unstackable grid mt-4">
    <div class="row center aligned">
        <div class="column info text-muted">
            <i class="calendar times icon"></i>
            Meals Left: 1
        </div>
        <div class="column info text-muted">
                <i class="heartbeat icon"></i>
                Health Score: 3
        </div>
        <div class="column info text-muted">
            <i class="utensils icon"></i>
            Taste Score: 1
        </div>

        <button class="column info ui btn-custom-dark-blue">
            Share
            <i class="share square icon"></i>
        </button>
    </div>
</div>
<div id="calendar" class="ui seven column stackable grid">

</div>

<%include partials/footer%>