<%include partials/header%>
        <div class="ui middle aligned center aligned grid">
            <div class="fourteen wide mobile ten wide tablet six wide computer column">
                <h2 class="ui image header">
                    <div class="content text-custom-dark-blue">
                        Sign up for an account!
                    </div>
                </h2>
                <form action="/register" class="ui large form" method="POST" id="signup">
                    <div class="ui stacked segment">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input class="signup-form-input" type="text" name="username" placeholder="Enter a username">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input class="signup-form-input" type="password" name="password" placeholder="Enter a password">
                            </div>
                        </div>
                        <button class="ui fluid large btn-custom-dark-blue submit button">Sign up</button>
                    </div>
                    <!-- <div class="ui error message"></div> -->

                </form>

                <div class="ui message">
                    Already have an account? <a href="/login">Login</a>
                </div>
            </div>
        </div>
    <%include partials/footer%>