/* Import Additional CSS */
@import "menu.css";

/* Override Default User Agent Styles */
:focus {
    outline: none;
}

::selection {
    background-color: none;
    color: none;
}

/*
 * ─── Global Variables + Classes ─────────────────────────────────────────────────────────────────────
 */


/* Variables */

:root {
    --custom-darkest-blue: #4a87a5;
    --custom-dark-blue: #5a92af;
    --custom-dark-blue-hover: #659db9;
    --custom-blue: #86c1d4;
    --custom-light-blue: #9cd9de;
    --custom-green: #75c472;
    --custom-purple: #ad8bcc;
    --custom-muted: rgb(148, 148, 148);
    --custom-muted-hover: rgb(172, 172, 172);
    --custom-red: rgb(240, 140, 140);
    --custom-red-hover: rgb(216, 115, 115);
    --custom-light-gray: #EFEFEF;
    font-size: 14px;
}


/* Custom Classes */

.btn-custom-dark-blue,
.bg-custom-dark-blue {
    background: var(--custom-dark-blue) !important;
    color: white !important;
    transition: background(350ms);
}

.btn-custom-dark-blue:hover {
    background: var(--custom-dark-blue-hover) !important;
}

.bg-custom-blue {
    background: var(--custom-blue) !important;
}

.bg-custom-light-blue {
    background: var(--custom-light-blue) !important;
}

.bg-custom-green {
    background: var(--custom-green) !important;
}

.bg-custom-purple {
    background: var(--custom-purple) !important;
}

.btn-custom-gray,
.bg-custom-gray {
    background: var(--custom-muted) !important;
    color: white !important;
}

.btn-custom-gray:hover {
    background: var(--custom-muted-hover) !important;
}

.btn-custom-red,
.bg-custom-red {
    background: var(--custom-red) !important;
    color: white !important;
}

.btn-custom-red:hover {
    background: var(--custom-red-hover) !important;
}

.text-muted {
    color: var(--custom-muted);
}

.text-custom-dark-blue {
    color: var(--custom-dark-blue);
}

.text-white {
    color: white;
}

.text-bold {
    font-weight: bold;
}
.text-thin {
    font-weight: lighter;
}

.px-page, .ui.grid.px-page {
    padding: 1rem 1rem !important;
}

.mb-1 {
    margin-bottom: 0.2em;
}

.mb-2 {
    margin-bottom: 0.6em;
}

.mt-3, .ui.grid.mt-3, .ui.cards.mt-3 {
    margin-top: 1.6em;
}

.mt-4, .ui.grid.mt-4 {
    margin-top: 2.8em;
}

.right-border{
    border-right: solid 1px var(--custom-muted-hover);
}
.mobile-only {
    display: none;
}

.ui.inverted.menu .mobile-only {
    display: none;
}

.rounded-outline{
    display: inline-block;
    min-height: 1em;
    outline: none;
    border: solid 1.5px #CACBCD;
    vertical-align: baseline;
    background: white ;
    color: var(--custom-muted);
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    margin: 0em 0.25em 0em 0em;
    padding: 0.78571429em 1.5em 0.78571429em;
    text-transform: none;
    text-shadow: none;
    font-weight: bold;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    border-radius: 0.28571429rem;
    -webkit-box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
    box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, background 0.1s ease, -webkit-box-shadow 0.1s ease;
    transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, background 0.1s ease, -webkit-box-shadow 0.1s ease;
    transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
    transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease, -webkit-box-shadow 0.1s ease;
    will-change: '';
    -webkit-tap-highlight-color: transparent;
}

#expand-menu-button {
    margin: auto 0 auto auto;
    color: white;
    transition: color 350ms;
}

#expand-menu-button:hover {

}

/*
 * ─── Application CSS ───────────────────────────────────────────────────────────────────
 */

html,
body {
    height: auto;
}

main {
    margin-top: 8em;
    height: 40px;
}

.feedback {
    position: relative;
    margin: 1.2em 0;
}

table {
    min-height: 300px;
}

.meal-cell {
    min-height: 5em;
}

.ui.menu .item {
    transition: background(350ms);
    font-size: 1.2em;
}

.ui.menu .item:hover {
    background: var(--custom-darkest-blue);
    cursor: pointer;
}

.ui.selection.dropdown {
    min-width: 2em;
}

.update {
    padding-top: 0.5em;
    padding-bottom: 0em;
}



#login.ui.form input.login-form-input,
#signup.ui.form input.signup-form-input {
    padding-left: 4em !important;
}


/* .item {
    max-height: 2em;
} */

.ui.cards > .card > .image > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
}

i.icon {
    font-size: 1.5em;
    padding-left: 5px;
}

div.inverted.menu {
    overflow: auto;
}

#recipe {
    position: relative;
}

.recipe-image-wrapper {
    height: 350px;
    width: 400px;
    overflow: hidden;
    /* text-indent: 3%; */
    border-radius: 4px;
    position: relative;
}

.recipe-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.button-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.button-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

#title {
    -webkit-appearance: none;
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;
    font-size: 2em;
    display: inline-block;
}

#add-title {
    border: none;
    border-bottom: 1.5px solid var(--custom-light-gray);
    border-radius: 0;
    /* border-radius: 0; */
    -webkit-appearance: none;
    margin-top: 0;
    margin-left: 0;
    resize: none;
    min-height: 10%;
    padding-left: 0;
    font-size: 2em;
}

/* SHOW Recipe  --------------- */

.edit-recipe {
    float: right;
}

.edit-recipe-icon {
    transition: 200ms;
}
.edit-recipe-icon:hover {
    color: var(--custom-dark-blue-hover);
    transform: scale(1.08);
}

.table-text{
    padding: 0.67857143em 1em;
    font-weight: normal;
}

/* .portion{
    background: var(--custom-muted);
    color: white;
    border-radius: 4px;
    float: left;
} */


/* END */


/* INDEX of Recipe -----------------------*/

.stat{
    font-size: 1.2rem;
}

.stat .icon{
    font-size: 1.4rem;
    margin-right: 8px;
}

.ui.card.recipe-card{
    transition: 300ms ease-in-out;
    cursor: pointer;
}
.ui.card.recipe-card:hover{
    transform: scale(1.05);
}
.ui.cards > .card .meta.portions {
    top:-2px;
    position: relative;
}
.ui.cards > .card .meta > .icon {
    font-size: 1rem;
    margin-right: 8px;
}


/* END */


#directions,
.ui.form input[type="text"].blank-input {
    border: none;
    /* border-radius: 0; */
    -webkit-appearance: none;
    margin-top: 0;
    resize: none;
    min-height: 10%;
}

table {
    min-height: 0;
}

.table-row-top {
    vertical-align: top;
}

.table-cell-border-left {
    border-left: 1px solid var(--custom-light-gray);
}

.ui.table td.table-cell-left {
    padding-left: 0;
}

.ui.table td.add-button {
    text-align: center;
    vertical-align: middle;
    color: var(--custom-muted);
    transition: 350ms;
}

.ui.table .add-button:hover {
    background: var(--custom-light-gray);
    /* color:white; */
}

.ui.table td.remove-button {
    text-align: center;
    vertical-align: middle;
    color: var(--custom-red);
    transition: 350ms;
}

.ui.table .remove-button:hover {
    background: var(--custom-red);
    color: white;
    /* color:white; */
}

/* Form Buttons */
#clear-button-wrapper, #delete-button-wrapper {
    text-align: right;
}

#submit-button-wrapper {
    text-align: left;
}

#recipe-delete{
    color: var(--custom-red)!important;
    box-shadow: 0px 0px 0px 1px rgba(34, 36, 38, 0.35) inset, 0px 0px 0px 0px rgba(34, 36, 38, 0.15) inset;
    border-radius: 0.28571429rem;
    background: white;
    transition: 300ms ease-in;
}
#recipe-delete:hover{
    color: white!important;
    background: var(--custom-red);
}
.modal-actions.actions{
    display:block;
}
.trash.icon.modal-icon {
    padding: 0 0 0 0px;
    font-size: 1.3rem;
}
.emoji{
    font-size: 2rem;
    float: right;
}

.delete-form{
    display: inline-block;
}

button.ui.button.form-master-button {
    width: 200px;
}

#page-title {
    margin-bottom: 0.8em;
}

#recipe-title {
    margin-bottom: 0em;
}

::selection,
input:-internal-autofill-selected,
textarea:-internal-autofill-previewed,
textarea:-internal-autofill-selected,
select:-internal-autofill-previewed,
select:-internal-autofill-selected,
input:-internal-autofill-previewed,
input:-internal-autofill-selected,
textarea:-internal-autofill-previewed,
textarea:-internal-autofill-selected,
select:-internal-autofill-previewed,
select:-internal-autofill-selected {
    background-color: white;
    background-image: none !important;
    color: var(--custom-muted);
}


div.recipe-image {
    object-fit: none;
    position: relative;
    width: 100%;
    height: 100%;
}

span.date {
    font-size: 0.85em;
    color: rgba(255, 255, 255, 0.5);
}


.recipe-divider {
    width: calc(100% - 2rem);
}

.ui.card>.content {
    border: none;
}


/* div.recipe-image>img {
    object-fit: cover;
} */

.ui.grid>.column:not(.row) {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.column.four.wide>div.ui.raised.card {
    transition: scale(550ms);
}

.column.four.wide>div.ui.raised.card:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.actions {
    display: flex;
    margin-top: 2em;
}

.actions .action-button {
    margin-right: 10px;
    padding-left: 40px;
    padding-right: 40px;
    transition: 350ms;
}


.ui.cards > .card > .extra, .ui.card > .extra{
    padding:0;
}


/* button.ui.secondary.button {
    display: inline;
} */

#logo.header {
    font-size: 1.7rem;
    font-family: Pacifico;
    padding: 0.1em auto;
}

#calendar {
    margin-top: 2em;
}

#recipe {
    margin-top: 1rem;
}

#recipe-image>div.ui.image {
    width: 100%;
    overflow: hidden;
    position: relative;
}

#recipe-image>div.ui.image::before {
    content: "";
    display: block;
    padding-top: 100%;
}

#recipe-image>div.ui.image>img {
    display: block;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#recipe-stats {
    margin: 10px 0;
    width: 100%;
}

#recipe-stats .column {
    padding: 5px;
    color: rgba(255, 255, 255, 0.9);
}

#recipe-stats .column:nth-of-type(1) {
    padding-left: 0px;
}

#recipe-stats .column:nth-of-type(3) {
    padding-right: 0px;
}

#ingredients-list-header {
    color: #666666;
}

.ui.form input[type="text"].added-ingredient {
    color: var(--custom-muted);
}

.ui.form .field input.range-indicator {
    width: auto;
    display: inline-block;
    line-height: inherit;
    border: none;
    /* border-radius: 0; */
    -webkit-appearance: none;
    margin-top: 0;
    resize: none;
    min-height: 10%;
    padding: 0;
    color: var(--custom-muted);
}

.ui.form .field input.range-indicator:focus {
    color: var(--custom-muted);
}

#card-image {
    overflow: hidden;
    width: 100%;
    height: 250px;
    position: relative;
}

#large-card-image {
    position: relative;
    overflow: hidden;
    /* width: 100%; */
    background: none;
    max-height: 600px;
    border-bottom-right-radius: 0.285714rem !important;
    border-bottom-left-radius: 0.285714rem !important;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
}

#large-recipe-image {
    object-fit: cover;
    object-position: center;
}

#owner {
    margin-top: 0.8em;
}

#right-header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

#left-header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

#last-updated {
    margin-top: 0.8em;
}

#button-edit:hover {
    background: #F2711C !important;
    color: white !important;
}

#button-delete:hover {
    background: #DB2828 !important;
    color: white !important;
}

@media(max-width: 450px) {
    .recipe-image-wrapper {
        width: 100%;
        height: 100%;
    }
}

@media(max-width: 767px) {
    #navbar .item:not(.header) a {
        margin: auto;
    }

    #expand-menu-button * {
        display: block;
        margin: auto;
    }

    .mobile-only {
        display: block;
    }

    .mobile-text-centered {
        text-align: center;
    }

    .ui.inverted.menu .mobile-only {
        display: block;
    }

    .ui.menu:not(.vertical) .right.menu.collapsable{
        height:100%;
        /* display: block; */
        animation: dropdown 0.2s ease-in forwards;
        position: relative;
    }

    .ui.menu:not(.vertical) .right.menu.collapsable.collapsed {
        max-height: 0;
        transition: max-height 0.2s ease-out;
        overflow: hidden;
    }

    .ui.menu:not(.vertical) .right.menu.collapsable {
        max-height: 200px;
        transition: max-height 0.3s ease-in;
        overflow: hidden;
    }

    .ui.menu:not(.vertical) .right.menu.collapsable.collapsed > div{
        height:0;
    }
    .ui.menu:not(.vertical) .right.menu.collapsable > div{
        height: 100%;
    }



    #clear-button-wrapper, #delete-button-wrapper {
        text-align: center;
        order: 2;
    }

    #submit-button-wrapper {
        text-align: center;
        order: 1;
    }

    #recipe-clear, #recipe-delete {
        border: none;
        border-radius: 0;
        box-shadow: none;
    }

    .ui.stackable.cards > .card {
        margin: 1.8em 1em;
    }
}

@media (min-width: 767px) and (max-width: 992px) {
    .recipe-image-wrapper {
        width: 325px;
    }
}