<%include ../partials/header%>

<h1 id="page-title" class="ui huge header"> Create New Recipe</h1>

<form action="/recipes" method="POST" class="ui form" id="recipe-form" enctype="multipart/form-data">
    <!-- Cut from here -->
    <div class="ui two column stackable grid">
        <div class="row">
            <div class="column eight wide">

                <div class="recipe-image-wrapper">
                    <div class="ui dimmer transition hidden image-upload-dimmer">
                        <div class="content">
                            <div class="center button-wrapper">
                                <button class="ui inverted button image-upload-button">
                                    <i class="upload icon"></i>
                                    <input type="file" id="image" name="image" accept="image/*">
                                    </but>
                            </div>
                        </div>
                    </div>
                    <img src="/images/image.png">
                </div>
            </div>
            <div class="column eight wide">
                <div class="field">
                    <!-- <label for="title">Recipe Name</label> -->
                    <input id="title" class=" blank-input text-muted" name="recipe[name]" type="text"
                        placeholder="Enter Recipe Title">
                </div>
                <div class="stats mt-4">
                    <div class="field">
                        <p for="portion" class="text-muted mb-2">Portion:
                            <input type="text" id="portion-indicator" class="range-indicator" name="recipe[portion]" readonly>
                        </p>
                        <div class="ui range" id="portion"></div>
                    </div>
                    <div class="field">
                        <p for="health" class="text-muted mb-2">Health Score:
                            <input type="text" id="health-indicator" class="range-indicator" name="recipe[health]" readonly>
                        </p>
                        <div class="ui range" id="health"></div>
                    </div>
                    <div class="field">
                        <p for="taste" class="text-muted mb-2">Taste Score:
                            <input type="text" id="taste-indicator" class="range-indicator" name="recipe[taste]" readonly>
                        </p>
                        <div class="ui range" id="taste"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column eight wide">
                <table class="ui left aligned table">
                    <thead>
                        <tr>
                            <th class="left aligned">Directions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-row-top">
                            <td class="table-cell-left">
                                <textarea id="directions" class="blank-input" name="recipe[directions]" type="text"
                                    placeholder="Enter preparation instructions"></textarea>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="column eight wide">
                <table class="ui left aligned unstackable table">
                    <thead>
                        <tr>
                            <th class="left aligned">Ingredients</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="ingredients">
                        <tr class="ingredient-row">
                            <td class="table-cell-left">
                                <input class="blank-input ingredient ingredient-data" name="ingredient[name]"
                                    type="text" placeholder="Name">
                            </td>
                            <td class="table-cell-left table-cell-border-left">
                                <input class="blank-input ingredient ingredient-data"
                                    name="ingredient[quantity]" type="text" placeholder="Qty">
                            </td>
                            <td class="table-cell-border-left add-button">
                                <i class="plus icon"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
                <div class="column eight wide" id="clear-button-wrapper">
                        <button class="ui basic button form-master-button" type="reset" id="recipe-clear">Clear</button>
                </div>
                <div class="column eight wide " id="submit-button-wrapper">
                        <button class="ui btn-custom-dark-blue button form-master-button" type="submit" id="recipe-submit">Submit</button>
                </div>
            </div>
    </div>

</form>

<%include ../partials/footer%>