<%include ../partials/header%>

<h1 id="page-title" class="ui huge header"> Create New Recipe</h1>

<form action="/recipes" method="POST" class="ui form" id="recipe-form">
    <!-- Cut from here -->
    <div class="ui two column stackable grid">
        <div class="row">
            <div class="column eight wide">
                <div class="recipe-image-wrapper">
                    <img src="/images/image.png">
                    <!-- TODO: Add button for upload here -->
                </div>
            </div>
            <div class="column eight wide">
                <div class="field">
                    <!-- <label for="title">Recipe Name</label> -->
                    <input id="title" class=" blank-input text-muted" name="recipe[name]" type="text" placeholder="Enter Recipe Title">
                </div>
                <div class="stats mt-4">
                    <div class="field">
                        <p for="portion" class="text-muted mb-2">Portion: <span id="portion-indicator">1</span></p>
                        <div class="ui range" id="portion"></div>
                    </div>
                    <div class="field">
                        <p for="health" class="text-muted mb-2">Health Score: <span id="health-indicator">5</span></p>
                        <div class="ui range" id="health"></div>
                    </div>
                    <div class="field">
                        <p for="taste" class="text-muted mb-2">Taste Score: <span id="taste-indicator">5</span></p>
                        <div class="ui range" id="taste"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column eight wide">
                <table class="ui left aligned table">
                    <thead>
                        <tr>
                            <th class="left aligned">Directions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-row-top">
                            <td class="table-cell-left">
                                <textarea id="directions"
                                class="blank-input" name="recipe[directions]" type="text" placeholder="Enter preparation instructions"></textarea>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="column eight wide">
                    <table class="ui left aligned unstackable table">
                            <thead>
                                <tr>
                                    <th class="left aligned">Ingredients</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody class="ingredients">
                                <tr class="ingredient-row">
                                    <td class="table-cell-left">
                                        <input
                                        class="blank-input ingredient ingredient-data" name="recipe[ingredients]" type="text" placeholder="Name">
                                    </td>
                                    <td class="table-cell-left table-cell-border-left">
                                        <input
                                        class="blank-input ingredient ingredient-data" name="recipe[ingredients]" type="text" placeholder="Qty">
                                    </td>
                                    <td class="table-cell-border-left add-button">
                                    <i class="plus icon"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
            </div>
        </div>
    </div>
    <div class="row">
            <div class="column eight wide"></div>
            <div class="column eight wide"></div>
    <!-- Cut to here -->
    <button class="ui button" type="submit" id="recipe-submit">Submit</button>
</form>

<%include ../partials/footer%>

<!-- <div class="ui two column stackable grid">
                <div class="column ten wide">
                    <div class="field">
                        <label for="title">Recipe Name</label>
                        <input id="title" name="recipe[name]" type="text" placeholder="Milanesa">
                    </div>
                </div>
                <div class="column six wide">
                    <div class="field">
                        <label>Home or Restaurant</label>
                        <div class="ui dropdown selection">
                            <input type="hidden" name="recipe[isRestaurant]">
                            <div class="default text">Location</div>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                <div class="item" data-value="home">Home</div>
                                <div class="item" data-value="restaurant">Restaurant</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui one column stackable grid">
                <div class="column sixteen wide">
                    <div class="field">
                        <label for="image">Image URL</label>
                        <input id="image" name="recipe[image]" type="text" placeholder="URL for image">
                    </div>
                </div>
            </div>
            <div class="ui three column stackable grid" id="recipe-stats">
                <div class="column four wide">
                    <div class="field">
                        <label for="portion">Portion</label>
                        <input id="portion" name="recipe[portion]" type="text" placeholder="2">
                    </div>
                </div>
                <div class="column six wide">
                    <div class="field">
                        <label>Health</label>
                        <div class="ui dropdown selection">
                            <input type="hidden" name="recipe[health]">
                            <div class="default text">Score</div>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                <div class="item" data-value="1">1</div>
                                <div class="item" data-value="2">2</div>
                                <div class="item" data-value="3">3</div>
                                <div class="item" data-value="4">4</div>
                                <div class="item" data-value="5">5</div>
                                <div class="item" data-value="6">6</div>
                                <div class="item" data-value="7">7</div>
                                <div class="item" data-value="8">8</div>
                                <div class="item" data-value="9">9</div>
                                <div class="item" data-value="10">10</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column six wide">
                    <div class="field">
                        <label>Taste</label>
                        <div class="ui dropdown selection">
                            <input type="hidden" name="recipe[taste]">
                            <div class="default text">Score</div>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                <div class="item" data-value="1">1</div>
                                <div class="item" data-value="2">2</div>
                                <div class="item" data-value="3">3</div>
                                <div class="item" data-value="4">4</div>
                                <div class="item" data-value="5">5</div>
                                <div class="item" data-value="6">6</div>
                                <div class="item" data-value="7">7</div>
                                <div class="item" data-value="8">8</div>
                                <div class="item" data-value="9">9</div>
                                <div class="item" data-value="10">10</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui one column stackable grid">
                <div class="column sixteen wide">
                    <div class="field">
                        <label for="image">Ingredients</label>
                        <textarea name="recipe[ingredients]" id="recipe[ingredients]" class="text-muted" placeholder="Enter each 'ingredient: quantity' on a new line"></textarea>
                    </div>
                </div>
            </div> -->